<!--[if IE]><p class="kill-ie">微软都放弃了IE，为啥你却还不放弃？</p><![endif]-->
<span id="_cqupt-route"></span>
<div id="_cqupt-side-box">
    <!--<div id="_cqupt-tip"></div>-->
    <div class="_cqupt-side-bar">
        <div class="_cqupt-side-bar-item" id="_cqupt-title">
            <a href="javascript:void(0);"><i>×</i> 内网外入</a>
            <span class="_cqupt-side-bar-tip">隐藏</span>
        </div>
        <div class="_cqupt-side-bar-top">
            <a href="//cqupt.congm.in" class="_cqupt-side-bar-item">
                <span class="_cqupt-iconfont">&#xe601;</span>
                <span class="_cqupt-side-bar-tip">主页</span>
            </a>
            <div class="_cqupt-side-bar-item" data-toggle="sideTab" data-target="#_cqupt-user-info">
                <span class="_cqupt-iconfont">&#xe602;</span>
                <span class="_cqupt-side-bar-tip">导航</span>
            </div>
            <a href="https://we.cqu.pt" target="_blank" class="_cqupt-side-bar-item" data-hidden="on">
                <img class="_cqupt-side-bar-img" src="../img/wecqupt.png">
                <span class="_cqupt-side-bar-tip">We重邮</span>
            </a>
        </div>
        <div class="_cqupt-side-bar-bottom">
            <a href="https://wj.qq.com/s/1220667/ca21" target="_blank" class="_cqupt-side-bar-item" data-hidden="on">
                <img class="_cqupt-side-bar-img" src="../img/wj.png">
                <span class="_cqupt-side-bar-spot"></span>
                <span class="_cqupt-side-bar-remind">内网外入邀你<br>进行问卷调查</span>
                <span class="_cqupt-side-bar-tip">问卷调查</span>
            </a>
            <div class="_cqupt-side-bar-item" data-toggle="sideTab" data-target="#_cqupt-info">
                <span class="_cqupt-iconfont">&#xe604;</span>
                <span class="_cqupt-side-bar-tip">关于</span>
            </div>
            <div class="_cqupt-side-bar-item" data-toggle="sideTab" data-target="#_cqupt-donate" data-hidden="on">
                <span class="_cqupt-iconfont">&#xe603;</span>
                <span class="_cqupt-side-bar-tip">支助</span>
            </div>
            <div class="_cqupt-side-bar-item" data-toggle="sideTab" data-target="#_cqupt-duosuo" data-hidden="on">
                <span class="_cqupt-iconfont">&#xe600;</span>
                <span class="_cqupt-side-bar-tip">评论</span>
            </div>
            <a href="http://jq.qq.com/?_wv=1027&k=2EgWhWy" target="_blank" class="_cqupt-side-bar-item" data-hidden="on">
                <span class="_cqupt-iconfont">&#xe605;</span>
                <span class="_cqupt-side-bar-tip">内网外入交流群：312784909</span>
            </a>
        </div>
    </div>
    <header class="_cqupt-header">
        <div id="_cqupt-header-close" data-toggle="sideTab" data-target="close"><img src="../img/close.png"></div>
    </header>
    <div class="_cqupt-content">
        <div class="_cqupt-content-item _cqupt-hidden" id="_cqupt-user-info">
            <div class="_cqupt-content-hd">导航</div>
            <div class="_cqupt-content-bd">
                <small class="_cqupt-small">热门排行</small>
                <div class="_cqupt-nav-list">
                    <a class="_cqupt-nav-item-o" href="http://jwzx.cqupt.congm.in" target="_blank">教务在线</a>
                    <a class="_cqupt-nav-item-o" href="http://xk1.cqupt.edu.cn.cqupt.congm.in" target="_blank">选课地址1</a>
                    <a class="_cqupt-nav-item-o" href="http://xk2.cqupt.edu.cn.cqupt.congm.in/" target="_blank">选课地址2</a>
                    <a class="_cqupt-nav-item-o" href="http://222.177.140.105.cqupt.congm.in" target="_blank">网上党校</a>
                    <a class="_cqupt-nav-item-o" href="http://202.202.43.222.cqupt.congm.in/bysj/" target="_blank">毕业设计</a>
                    <a class="_cqupt-nav-item-o" href="http://xk4.cqupt.edu.cn.cqupt.congm.in" target="_blank">选课地址4</a>
                    <a class="_cqupt-nav-item-o" href="http://xk2.cqupt.edu.cn.cqupt.congm.in/xpj2016/" target="_blank">学评教</a>
                    <a class="_cqupt-nav-item-o" href="http://oj.cqupt.edu.cn.cqupt.congm.in" target="_blank">ACM/OJ</a>
                    <a class="_cqupt-nav-item-o" href="http://job.cqupt.edu.cn" target="_blank">就业信息网</a>
                    <a class="_cqupt-nav-item-o" href="http://bbs.cqupt.edu.cn" target="_blank">幽幽黄桷兰</a>
                    <a class="_cqupt-nav-item-o" href="http://gs.cqupt.edu.cn" target="_blank">研究生学院</a>
                    <a class="_cqupt-nav-item-o" href="http://172.20.200.60.cqupt.congm.in" target="_blank">教学资源库</a>
                    <a class="_cqupt-nav-item-o" href="http://cyhq.cqupt.edu.cn.cqupt.congm.in" target="_blank">后勤服务</a>
                    <a class="_cqupt-nav-item-o" href="http://hongyan.cqupt.edu.cn" target="_blank">红岩网校</a>
                    <a class="_cqupt-nav-item-o" href="http://www.cqupt.edu.cn" target="_blank">重邮主页</a>
                    <a class="_cqupt-nav-item-o" href="http://tsg.cqupt.edu.cn" target="_blank">图书馆</a>
                    <a class="_cqupt-nav-item-o" href="http://zs.cqupt.edu.cn.cqupt.congm.in" target="_blank">招生信息网</a>
                </div>
                <br>
                <h2>保护名单</h2>
                <div class="_cqupt-nav-more">
                    <small class="_cqupt-small">为了保证内网安全及隐私，下列网站已被列入内网外入<span class="black-list">保护名单</span>，无法再通过外网访问。</small>
                </div>
                <div class="_cqupt-nav-list">
                    <a class="_cqupt-nav-item-o" href="http://oa.cqupt.edu.cn.cqupt.congm.in" target="_blank">校务信息网</a>
                </div>
            </div>
        </div>
        <div class="_cqupt-content-item _cqupt-hidden" id="_cqupt-info">
            <div class="_cqupt-content-hd">关于</div>
            <div class="_cqupt-content-bd">
                <h2>内网外入 (cqupt.congm.in) </h2>
                <h3><a class="_cqupt-label _cqupt-label-sm" href="//congm.in" target="_blank">Cong Min</a> <span class="_cqupt-label _cqupt-label-sm">个人项目</span> <span class="_cqupt-label _cqupt-label-sm">非官方</span></h3>
                <p>重庆邮电大学内网外入诞生于2015年9月，该系统利用nginx服务器反向代理的原理，方便了重邮同学通过外网直接访问内网。同学们可以随时随地进入内网查询自己的个人课表、考试安排、期末成绩，进行选课等，极大方便同学们的日常使用。此外还设立了网站保护名单机制用以保证内网隐私和安全。系统上线16个月来，总访问量(PV)超过250万多次，PV单日峰值接近10万次，独立访客(UV)日均约1750人，UV日峰值超2万人。</p>
                <div class="_cqupt-info-list">
                    <p>官网：<a href="//cqupt.congm.in" target="_blank">cqupt.congm.in</a></p>
                    <p>Github：<a href="https://github.com/mcc108/cqupt.congm.in" target="_blank">github.com/mcc108/cqupt.congm.in</a></p>
                    <p>交流群：<a href="http://jq.qq.com/?_wv=1027&k=2EgWhWy" target="_blank">312784909</a></p>
                    <p>博文：<a href="//i.congm.in/cqupt-inner" target="_blank">i.congm.in/cqupt-inner</a></p>
                    <p>统计：<a href="http://new.cnzz.com/v1/login.php?siteid=1257517721" target="_blank">CNZZ统计</a></p>
                    <p>作者：<a href="//congm.in" target="_blank">@ Cong Min - 闵聪</a></p>
                </div>
            </div>
        </div>
        <div class="_cqupt-content-item _cqupt-hidden" id="_cqupt-donate">
            <div class="_cqupt-content-hd">支助</div>
            <div class="_cqupt-content-bd">
                <h3><span class="_cqupt-label _cqupt-label-o">内网外入</span> 是个人独自开发的免费网站，但是内网外入服务器每月都得支付宽带网络和运营维护的成本。</h3>
                <p>为了保证正常的运营维护，内网外入引入了和谐健康的Google广告，如果您的浏览器安装有广告屏蔽插件，请在其白名单中新增两条规则：内网外入域名cqupt.congm.in、*.cqupt.congm.in。此外，您对广告的每一次关注和点击都是对内网外入的点滴支持。</p>
                <p>如果您觉得内网外入极大方便您的日常使用，想对此给予更多的支持，您可以自愿选择通过捐助（支付宝二维码在底部）来促进内网外入的健康维护和发展，Thx。 同时，再次感谢以下捐助者对内网外入的支持。😊</p>
                <br>
                <h2>捐助者列表 <small class="_cqupt-small">(定期更新)</small></h2>
                <table class="_cqupt-donate-list">
                    <thead>
                    <tr>
                        <th>账户</th><th>用户名</th><th>时间</th><th>金额</th>
                    </tr>
                    </thead>
                </table>
                <br>
                <p class="_cqupt-small">支付宝帐号：i@congm.in / 这是昵称 (闵聪)</p>
                <img src="http://cdn.cqupt.congm.in/src/img/alipay.png" class="_cqupt-donate-img">
            </div>
        </div>
        <div class="_cqupt-content-item _cqupt-hidden" id="_cqupt-duosuo">
            <div class="_cqupt-content-hd">评论</div>
            <div class="_cqupt-content-bd">
                <div class="ds-share flat" data-thread-key="1" data-title="内网外入 - CQUPT" data-content="一站解决外网访问教务在线等内网所有网页！" data-url="https://cqupt.congm.in">
                    <div class="ds-share-inline">
                        <ul class="ds-share-icons-16">
                            <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享:</a></li>
                            <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
                            <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
                            <li><a class="ds-qq" href="javascript:void(0);" data-service="qq">QQ</a></li>
                            <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">空间</a></li>
                        </ul>
                        <div class="ds-share-icons-more"></div>
                    </div>
                </div>
                <span class="_cqupt-loading">正在加载中...</span>
            </div>
        </div>
    </div>
</div>

<!-- 广告 -->
<div id="_cqupt-adbox">
    <span class="_cqupt-adbox-label">该广告由内网外入提供</span>
    <!-- <a class="_cqupt-adbox-link" href="https://wj.qq.com/s/1248988/a12b" target="_blank">广告位出租</a> -->
    <span id="_cqupt-adbox-close">关闭广告 <img src="../img/close.png"></span>
    <div class="_cqupt-adbox-item">
        <a href="https://s.click.taobao.com/t?e=m%3D2%26s%3DlBHQczdn24UcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAkVZdy%2BKAnStmcs8Vl2fZs0wP9cxhdoQ5WpXOxq1i7wZeCgjP2voHLxnvpeBJVFfKxmIkXBqRClNTcEU%2BDykfuSM%2BhtH71aX6uIOTs4KMj3yjpOyWSRdiSZDEm2YKA6YIrbIzrZDfgWtewfOCTsUhuL7A4ojqcFxLlxfvOyje0ynomfkDJRs%2BhU%3D" target="_blank">
            <img width="1140" height="100" src="http://cdn.cqupt.congm.in/src/img/adbox/aliyun@1140x100.jpg">
        </a>
    </div>
    <div class="_cqupt-adbox-item">
        <a data-type="3" data-tmpl="800x90" data-tmplid="195" data-rd="2" data-style="2" data-border="1" href="#"></a>
    </div>
</div>